*.bin
*.jpg
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
# C extensions
*.so
*.csv
*.png
*.pdf
foo2
.gitignore
foo3
.vscode

!Mouth_1/*.bin
/build/
/build/*
/build/doctrees/*

# Don't track interactive notebooks. They get big too quick
*.ipynb

# Do track the ones in the example folder
!/Examples/*.ipynb